.tags__area{
    position: fixed;
    top: 0;
    margin-top: 102px;
    display: flex;
    justify-content: space-between;

    width: 100%;
}

.remove__all__tags{
    height: 20px;
    width: 20px;
    cursor: pointer;
    opacity: 0.6;
    margin-right: 20px;
}

.remove__all__tags:hover{
    scale: 1.1;
    opacity: 1;
}

.selected__tags__area{
    width: 100%;
}

.selected__tag{
    font-size: 14px;
    height: 22px;
    border-radius: 15px;
    background-color: rgba(0,0,0,0.2);
    margin: 2px 2px;
    padding: 0 7px;
    text-align: center;
    display: inline-block;
}

.selected__tag:hover{
    background-color: rgba(0,0,0,0.6);
    scale: 1.08;
    font-weight: bolder;
    color: white;
}

.text{
    display: inline-block;
}

.cross{
    width: 16px;
    height: 16px;
    margin-left: 4px;
    margin-bottom: 3px;
    display: inline-block;
}

.cross:hover {
    opacity: 0.5;
}

.tag__cloud{
    border-radius: 20px;
    padding: 10px;
    top: 105px;
    position: absolute;
    background-color: rgba(0,0,0, 0.6);
    margin: auto;
    width: 40%;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
    overflow: hidden;
}

.full__area{
    top: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
}

.tag__viz{
    border-radius: 20px;
    border: 1px solid white;
    padding: 0 10px;
    text-align: center;
    margin: 2px 2px;
    display: inline-table;
    background-color: rgba(255,255,255, 0.6);
    height: 20px;
    cursor: pointer;
}

.tag__viz:hover{
    font-weight: bolder;
    background-color: rgba(238,215,193, 0.9);
    color: white;
}

.tag__viz__selected{
    border-radius: 20px;
    border: 1px solid white;
    padding: 0 10px;
    text-align: center;
    margin: 2px 2px;
    display: inline-table;
    background-color: rgba(255,255,255, 1);
    height: 20px;
    cursor: pointer;
}