.my__plugin{


}

.my__cell{
    border: 1px solid gray;
    border-radius: 10px;
    width: 90%;
    margin: 10px auto;
    height: 10%;
    text-align: center;
}

.my__title_section{
    border: 1px solid red;
    height:600px;
}
.my_title{
    text-align: center;
    margin-top: 60px;
}
.main_image{
    height:340px;
    width: 340px;
    display: block;
    margin: auto;
}

.my__short__desc{
}


.reviews{
    border: 1px solid gray;
}

.my__price{
}

.my__rate{
    text-align: center;
    margin-top: 10px;
}

.rate_image{
    height: 30px;
    width:30px;
    margin-top: -10px;
    margin-left:5px;
}

.purchase_button{
    display: block;
    border: 1px solid grey;
    border-radius: 15px;
    margin: auto;
    margin-top: 20px;
    font-size: 30px;
    background-color: #EED6C1;
}

/*тут заканчивается верхушка и название, далее идут классы для описания*/

.my__full__desc{
    border: 1px solid grey;

}

.my_desc_title{
    margin-top: 70px;
    width:200px;
    display: inline-block;
}

.my_desc_text{
    text-align: justify;
}

.bug_report_button{
    margin-left: 130px;
    border-radius: 15px;

    margin-top: 0;
}

.bug_report_image{
    width:15px;
}

