<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create plugin</title>
</head>
<body>

  <h1>New plugin:</h1>

  <form th:action="@{/all}" th:object="${plugin}" th:method="post">
      <hr />
      <p><label>Name: <input type="text" th:field="*{name}" /></label></p>
      <p><label>Short description: <input type="text" th:field="*{shortDescription}" /></label></p>
      <p><label>Full description: <input type="text" th:field="*{fullDescription}" /></label></p>
      <p><label>Price: <input type="text" th:field="*{price}" /></label></p>
      <p><label>Mark: <input type="text" th:field="*{mark}" /></label></p>
      <hr />
      <input type="submit" value="Create" />
  </form>

  <a href="/all/new"><button>clear forms</button></a>

  <p><a href="/all"><button>all plugins</button></a></p>

  <div th:if="${errors != null}" class="error">
      <span class="error__text" th:text="${errors}" />
  </div>

</body>
</html>