<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Plugin</title>
</head>
<body>

  <h1>Current Plugin:</h1>
  <section th:object="${plugin}">
    <hr />
    <p><label>Name: <span th:text = "*{name}"/></label></p>
    <p><label>Short description: <span th:text = "*{shortDescription}"/></label></p>
    <p><label>Full description: <span th:text = "*{fullDescription}"/></label></p>
    <p><label>Price: <span th:text = "*{price}"/></label></p>
    <p><label>Mark: <span th:text = "*{mark}"/></label></p>
    <hr />
  </section>

  <a th:href="@{/all/{id}/edit(id = ${plugin.getId()})}"><button>edit</button></a>
  <form th:method="delete" th:action="@{/all/{id}(id = ${plugin.getId()})}"><button>delete</button></form>

  <p>
    <a href="/all"><button>all plugins</button></a>
  </p>

</body>
</html>