.my__button{
    border: 0;
    background: cadetblue;
    margin: auto 10px;
}

.my__no__content{
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

.my__background{
    background-color: rgba(227, 224, 218, 0.25);
    min-height: 100vh;
}

.main__content{
    padding-top: 100px;
    padding-bottom: 120px;
}

.loader{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 75%;
}