.my__button{
    border: 0;
    background: cadetblue;
    margin: auto 10px;
}

.my__no__content{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.my__background{
    position: relative;
    padding-top: 100px;
    padding-bottom: 140px;
    min-height: 900px;
    background-color: rgba(227, 224, 218, 0.25);
}

.loader{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 80vh;
}