.my__profile{
}

.my__menu{
    margin-top: 120px;
    width: 10%;
    position:relative;
}

.my__profileButton{
    width: 100%;
    margin-top: 8px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    background-color: #D9D9D9;
}

.my__pluginsButton{
    width: 100%;
    margin-top: 8px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    background: none;
}

.my__photo{
    justify-content: center;
    display: flex;
    margin-top: 120px;
    width: 40%;
    position:relative;
}

.my__img{
    margin: auto;
    margin-top: 8px;
    border-radius: 30px;
    width: 300px;
    aspect-ratio: 1/1;
}

.my__info{
    margin-top: 150px;
    width: 40%;
    position:relative;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}

.my__nicknameInfo{
    display: block;
    width: 100%;
}

.my__nicknameText{
    text-align: left;
}

.my__nickname{
    text-align: right;
}

.my__mailInfo{
    display: block;
    width: 100%;
}

.my__mailText{
    font-weight: bold;
    text-align: left;
}

.my__mail{
    text-align: right;
}


.my__contactsInfo{
    display: block;
    width: 100%;
}

.my__contactsText{
    font-weight: bold;
    text-align: left;
}

.my__contacts{
    text-align: right;
}

.my__descriptionInfo{
    display: block;
    width: 100%;
}

.my__descriptionText{
    font-weight: bold;
    text-align: left;
}

.my__description{
    height: 200px;
    overflow-y: scroll;
    text-align: right;
    word-break: break-word;
}


.my__button{
    margin-top: 120px;
    width: 10%;
    height: 10%;
}

.my__settingsButton{
    opacity: 70%;
    width: 30%;
}

.my__settingsButton:hover{
    opacity: 100%;
}