.my__profile{
}

.my__menu{
    margin-top: 120px;
    width: 10%;
    position:relative;
}

.my__profileButton{
    width: 100%;
    margin-top: 8px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    background-color: #D9D9D9;
}

.my__pluginsButton{
    width: 100%;
    margin-top: 8px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    background: none;
}

.my__photo{
    justify-content: center;
    display: flex;
    margin-top: 120px;
    width: 40%;
    position:relative;
}

.my__img{
    margin: auto;
    margin-top: 8px;
    border-radius: 30px;
    width: 300px;
    aspect-ratio: 1/1;
}

/*.my__changeImg{
    border-radius: 30px;
    border: black;
}*/

.my__info{
    margin-top: 120px;
    width: 40%;
    position:relative;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.my__name{
    display: flex;
    position: relative;
    width: 100%;
    height: 32px;
}

.my__nameText{
    display: block;
    padding-left: 0;
    margin-left: 0;
    width: 20%;
    font-size: 16px;
}

.my__nameArea{
    background-color: white;
    padding-left: 3%;
    display: block;
    position: relative;
    resize: none;
    border-radius: 15px;
    width: 80%;
    height: 32px;
}

/*.my__nameArea:disabled{
    border: none;
}*/

.my__mail{
    margin-top: 2%;
    display: flex;
    position: relative;
    width: 100%;
    height: 32px;
}

.my__mailText{
    display: block;
    padding-left: 0;
    margin-left: 0;
    width: 20%;
    font-size: 16px;
}

.my__mailArea{
    padding-left: 3%;
    display: block;
    position: relative;
    resize: none;
    border-radius: 15px;
    width: 80%;
    height: 32px;
    background-color: white;
}

/*.my__mailArea:disabled{
    border: none;
}*/

.my__contacts{
    margin-top: 2%;
    display: flex;
    position: relative;
    width: 100%;
    aspect-ratio: 5/1;
}

.my__contactsText{
    display: block;
    padding-left: 0;
    margin-left: 0;
    width: 20%;
    font-size: 16px;
}

.my__contactsArea{
    padding-left: 3%;
    display: block;
    position: relative;
    resize: none;
    border-radius: 15px;
    width: 80%;
    aspect-ratio: 5/1;
    background-color: white;
}

/*.my__contactsArea:disabled{
    border: none;
}*/

.my__description{
    margin-top: 2%;
    display: flex;
    position: relative;
    width: 100%;
    aspect-ratio: 3/1;
}

.my__descriptionText{
    display: block;
    padding-left: 0;
    margin-left: 0;
    width: 20%;
    font-size: 16px;
}

.my__descriptionArea{
    padding-left: 3%;
    display: block;
    position: relative;
    resize: none;
    border-radius: 15px;
    width: 80%;
    aspect-ratio: 3/1;
    background-color: white;
}

/*.my__descriptionArea:disabled{
    border: none;
}*/

.my__button{
    border: none;
    width: 20%;
    margin-top: 8px;
    font-size: 16px;
    border-radius: 10px;
    background-color: #D9D9D9;
}

.my__button:hover{
    background-color: rgb(0,0,0,0.2);
}