.my_login__form{
    margin: auto;
    border: 1px solid black;
    border-radius: 30px;
    width: 400px;
    text-align: center;
}

.my__input{
    border: 1px solid black;
    width: 60%;
    display: inline-block;
    margin-top: 5px;
    height: 30px;
    border-radius: 10px;
    padding: 0 10px;
}

.my__input:focus{
    outline: none;
    border: 1px solid greenyellow;
}

.my__input__bad:focus{
    outline: none;
}

.my__alert__message{
    font-size: 12px;
    color: red;
    text-align: left;
    margin-left: 135px;
}

.my__input__bad{
    border: 1px solid red;
    width: 60%;
    display: inline-block;
    margin-top: 5px;
    height: 30px;
    border-radius: 10px;
    padding: 0 10px;
}

.my__input__bad:focus{
    outline: none;
}

.my__title{
    font-size: 20px;
    width: 50px;
    margin: 25px auto 8px;

}

.my__label1{
    font-size: 14px;
    width: 100px;
    text-align: right;
    padding: 10px;
}
.my__label2{
    font-size: 14px;
    width: 100px;
    text-align: right;
    padding: 10px;
}

.my__button{
    font-size: 12px;
    width: 60px;
    margin-top: 20px;
    margin-bottom: 8px;
    /*margin: 20px auto;*/
    height: 28px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: white;
    padding: 0;
}

.my__button:hover{
    background-color:rgba(0, 0, 0, 0.1);
    border: 1px solid coral;
}

.my__button1{
    font-size: 11px;
    width: 60px;
    margin: auto;
    height: 28px;
    border: 0;
    color: black;
    background-color: rgba(0,0,0,0);
    padding: 0;
}

.my__button1:hover{
    color: coral;
}

.my__div{
    display: flex;
    flex-direction: column;
    align-items: center;
}



