.my__pagination{
    margin: 30px auto;
    display: table;
    text-align: center;
}

.my__pagination__el{
    width: 40px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 3px;
    background-color: #eed7c1;
    opacity: 80%;
    display: table-cell;
}

.my__pagination__chosen__el{
    width: 40px;
    height: 30px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: #eed7c1;
    display: table-cell;
}