.my__input{
    width: 100%;
    border-radius: 15px;
    border: 0;
    height: 30px;
    background-color: rgba(53, 52, 51, 0.4);
    color: white;
    padding-left: 9px;
    padding-right: 12%;
    grid-area: 1/1/1/2;
    font-size: 18px;
}

.my__input:focus{
    outline: none;
}

.my__input::placeholder{
    color: white;
    font-size: 15px;
}

.my__shovel{
    grid-area: 1/1/1/1;
    margin-top: 5px;
    margin-left: 90%;
    width: 22px;
    height: 22px;
    opacity: 70%;
}

.my__shovel:hover{
    opacity: 100%;
    scale: 1.2;
}

.my__div{
    display: grid;
    grid-template-columns: 100% 2fr;
    grid-template-rows: 100% 1fr;
}
