.my__div{
    width: 100%;
    display: inline-block;
}

.my__form{
    position: relative;
    display: block;
}

.my__button{
    display: block;
    position: absolute;
    right: 0;
    border: none;
    width: 20%;
    margin-right: 3%;
    margin-top: 2%;
    border-radius: 10px;
}

.my__button:hover{
    background-color: #D9D9D9;
}

.my__textarea{
    padding-left: 3%;
    display: block;
    position: relative;
    resize: none;
    background-color: #D9D9D9;
    border: none;
    border-radius: 15px;
    width: 100%;
    aspect-ratio: 3/1;
}

.my__textarea:focus{
    outline: none;
}

.my__input:focus{
    outline: none;
}

.my__input::placeholder{
    color: white;
    font-size: 15px;
}

.my__rating {
    padding-left: 3%;
    display: block;
    position: absolute;
    overflow: hidden;
    left: 0;
    margin-right: 0;
    padding-right: 0;
}
.my__rating:not(:checked) > input {
    display: none;
}
.my__rating:not(:checked) > label {
    float: right;
    width: 42px;
    padding: 0;
    cursor: pointer;
    font-size: 32px;
    line-height: 32px;
    color: lightgrey;
}
.my__rating:not(:checked) > label:before {
    content: '★';
}
.my__rating > input:checked ~ label {
    color: #ffc201;
}
.my__rating:not(:checked) > label:hover,
.my__rating:not(:checked) > label:hover ~ label {
    color: #ffc201;
}
.my__rating > input:checked + label:hover,
.my__rating > input:checked + label:hover ~ label,
.my__rating > input:checked ~ label:hover,
.my__rating > input:checked ~ label:hover ~ label,
.my__rating > label:hover ~ input:checked ~ label {
    color: #ffc201;
}