.my__review{
    width: 100%;
    margin-top: 15px;
    display: inline-block;
}

.my__text{
    margin-top: 3px;
    font-size: 12px;
    background-color: #D9D9D9;
    border-radius: 5px;
    padding: 5px 10px;
}

.my__img{
    left: 0;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.my__username{
    width: 100%;
    padding: 0 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
}

.my__username:hover{
    font-weight: bolder;
}

.my__rate{
    font-size: 14px;
    width:60px;
}