<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Registration</title>
</head>
<body>

<div th:if="${param.error}">
    Passwords do not match!
</div>

<form th:action="@{/registration}" th:object="${user}" th:method="post">
    <p><label> Username:<input type="text" th:field="*{name}" placeholder="Default"/> </label></p>
    <p><label> Email: <input type="text" th:field="*{email}" placeholder="default@gmail.com"/> </label></p>
    <p><label> Password: <input type="password" th:field="*{password}"/> </label></p>
    <p><input type="submit" value="register"/></p>
</form>
<div><a href="/"><button>exit</button></a></div>

<div th:if="${errors != null}">
    <span th:text="${errors}" />
</div>
</body>
</html>