.my__header{
    width: 100%;
    background-color: #eed7c1;
    height: 100px;
    min-height: 100px;
    text-align: right;
}

.my__img{
    margin-top: 2px;
    margin-left: 7px;
    height: 36px;
}

.my__logo{
    margin-bottom: 0;
    width: 143px;
    background-color: #E3E0DA;
    height: 40px;
    border: 1px solid darkgray;
    border-radius: 40px;
    vertical-align: middle;
    display: flex;
    cursor: pointer;
}

.my__logo:hover{
    scale: 1.05;
}

.my__title{
    margin: auto 3%;
    font-size: 20px;
    display: inline-block;
    color: black;
}

.my__title:hover{
    color: coral;
}

.my__button{
    font-size: 11px;
    margin: 0;
    border: 1px solid darkgray;
    border-radius: 15px;
    background-color: #E3E0DA;
}

.my__button:hover{
    border: 1px solid gray;
    background-color: #E3E0DA;
}

.my__container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my__categories{
    font-size: 18px;
    text-align: center;
    width: 120px;
}

.my__tags{
    font-size: 18px;
    text-align: center;
    width: 100px;
    cursor: pointer;
}

.my__tags:hover{
    opacity: 0.8;
    scale: 1.05;
}

.my__profile{
    width: 143px;
}
