.my__select{
    border: none;
    background: transparent;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
}

.my__select:enabled{
    text-align: center;
    width: 100px;
    border: none;
}

.my__select:focus{
    background-color: rgba(0,0,0,0);
}

/*.my__select:after{*/
/*    background-color: rgba(53, 52, 51, 0.4);*/
/*    content: "";*/
/*    display: block;*/
/*    position: absolute;*/
/*    right: 5px;*/
/*    top: 5px;*/
/*}*/

/*.my__select:before{*/
/*    background-color: orange;*/
/*}*/