.my__pagination{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 830px;
    width: 100vw;
    height: 100vh;
    /*overflow-y: scroll;*/
    padding-top: 2px;
}

.my__pagination__el{
    margin-left: 1px;
    margin-right: 1px;
    width: 25px;
    height: 25px;
    border: 1px solid gray;
    border-radius: 3px;
    background-color: #eed7c1;
    opacity: 80%;
    text-align: center;
}

.my__pagination__el:hover{
    scale: 1.1;
    border: 1px solid black;
    opacity: 100%;
}

.my__pagination__chosen__el{
    margin-left: 3px;
    margin-right: 3px;
    scale: 1.1;
    width: 25px;
    height: 25px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: #eed7c1;
    text-align: center;
    opacity: 100%;
}