.my__profile{
}

.my__menu{
    margin-top: 120px;
    width: 10%;
    position:relative;
}

.my__profileButton{
    width: 100%;
    margin-top: 8px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    background-color: #D9D9D9;
}

.my__pluginsButton{
    width: 100%;
    margin-top: 8px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    background: none;
}

.my__photo{
    margin-top: 120px;
    width: 40%;
    position:relative;
}

.my__img{
    width: 100%;
}

.my__info{
    margin-top: 120px;
    width: 50%;
    position:relative;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.my__name{
    margin-left: auto;
    margin-right: auto;
    padding-left: 3%;
    display: block;
    position: relative;
    resize: none;
    border-radius: 15px;
    width: 100%;
    height: 32px;
}

.my__mail{
    margin-top: 2%;
    padding-left: 3%;
    display: block;
    position: relative;
    resize: none;
    border-radius: 15px;
    width: 100%;
    height: 32px;
}

.my__contacts{
    margin-top: 2%;
    padding-left: 3%;
    display: block;
    position: relative;
    resize: none;
    border-radius: 15px;
    width: 100%;
    aspect-ratio: 5/1;
}

.my__location{
    margin-top: 2%;
    padding-left: 3%;
    display: block;
    position: relative;
    resize: none;
    border-radius: 15px;
    width: 100%;
    aspect-ratio: 5/1;
}

.my__description{
    margin-top: 2%;
    padding-left: 3%;
    display: block;
    position: relative;
    resize: none;
    border-radius: 15px;
    width: 100%;
    aspect-ratio: 3/1;
}


.my__button{
    border: none;
    width: 20%;
    margin-top: 8px;
    font-size: 16px;
    border-radius: 10px;
    background-color: #D9D9D9;
}

.my__button:hover{
    background-color: rgb(0,0,0,0.2);
}